<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean id="hyundaiEngine" class="org.gradle.test11.Engine">
		<property name="maker" value="Hyundai">
		</property>
		<property name="cc">
			<value>12300</value>
		</property>
	</bean>

	<bean id="car1" class="org.gradle.test11.Car">
		<property name="model" value="Sonata" />
	</bean>

	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>

	<bean id="hankookTire" class="org.gradle.test11.Tire">
		<property name="maker" value="Hankook" />
		<property name="createdDate">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2014-5-5" />
			</bean>
		</property>
	</bean>
</beans>