<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- DI(Dependency Injection) -->
	<bean id="car1" class="org.gradle.test07.Car">
		<constructor-arg value="Avante" />
		<constructor-arg>
			<bean class="org.gradle.test07.Engine" p:maker="Hyundai" p:cc="1495" />
		</constructor-arg>
	</bean>
	
	<!-- DL(Dependency Lookup) -->
	<bean id="car3" class="org.gradle.test07.Car" />
	<bean id="engine3"  class="org.gradle.test07.Engine" p:maker="Hyundai" p:cc="1997" />
	
</beans>